#central_widget {
    background-color: transparent;
}

QWidget {
    background-color: #282a3a;
    color: #eef1f1;
    outline: 0px;
    border: 0;
    font: 11pt "Clear Sans Medium";
}

QLabel {
    background: transparent;
}

QPushButton {
    background: #3e4259;
    color: #eef1f1;
    border-radius: 6px;
    border: 2px solid #515375;
}

QPushButton:hover {
    background: #363a4f;
}

QPushButton:pressed {
    background: #515375;
    border: 2px solid #aa2f2f;
}

QPushButton::menu-indicator {
    height: 0px;
    width: 0px;
}

QLineEdit {
    border: 2px solid #515375;
    selection-background-color: #aa2f2f;
    border-radius: 6px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 1px;
    font: 11pt "Clear Sans Medium";
    background: #1d1f2a;
    color: #eef1f1;
}

QLineEdit:focus {
    border: 2px solid #aa2f2f;
}

QToolTip {
    background: #1d1f2a;
    color: #eef1f1;
    font: 10pt "Clear Sans Medium";
    border: 2px solid #515375;
    padding: 3px;
}

QMenu {
    color: #eef1f1;
    background: #1d1f2a;
    border: 2px solid #515375;
    border-radius: 6px;
}

QMenu::item {
    padding: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background: transparent;
}

QMenu::item:selected {
    color: #eef1f1;
    background: #363a4f;
    border-radius: 3px;
}

QMenu::separator {
    background-color: #515375;
    height: 0.1em;
}

QMessageBox QAbstractButton {
    background: #3e4259;
    color: #eef1f1;
    border-radius: 6px;
    border: 2px solid #515375;
    padding: 4px;
}

QMessageBox QAbstractButton:hover {
    background: #363a4f;
}

QMessageBox QAbstractButton:pressed {
    background: #515375;
    border: 2px solid #aa2f2f;
}

QComboBox {
    border: 0px;
    background: #515375;
    color: #eef1f1;
    border-radius: 6px;
    padding: 0px 15px 0px 10px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    background: #1d1f2a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    image: url(icons:arrow_down.svg);
}

QComboBox QAbstractItemView {
    border: 2px solid #515375;
    border-radius: 0px;
    background: #1d1f2a;
}

#title_bar_icon {
    margin-top: 7px;
}

#title_bar_label {
    margin-top: 5px;
}

#minimize_button, #maximize_button, #close_button {
    background: #4c5270;
    border: 2px solid transparent;
    border-radius: 10px;
}

#minimize_button {
    image: url(icons:minimize_window.svg);
}

#maximize_button {
    image: url(icons:maximize_window.svg);
}

#minimize_button:hover, #maximize_button:hover {
    background: #70769eff;
}

#close_button {
    image: url(icons:close_window.svg);
}

#close_button:hover {
    background: #aa2f2f;
}

#address_panel QPushButton {
    background: transparent;
    border: none;
}

#address_panel QPushButton:hover {
    background: #363a4f;
}

#address_panel QPushButton:pressed {
    background: #363a4f;
    border: 2px solid #aa2f2f;
}

#address_panel QPushButton:disabled {
    background: rgba(21, 23, 31, 50);
}

#address_panel QComboBox {
    padding: 0px 0px 0px 7px;
    background: #515375;
    color: #eef1f1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#address_panel QComboBox QAbstractItemView {
    border: 0px;
    width: 100px;
    border-radius: 0px;
    background: #363a4f;
}

#address_panel QComboBox::drop-down {
    margin-right: 5px;
    background: 0;
    width: 15px;
}

#address_line_frame {
    background: #1d1f2a;
    color: #eef1f1;
    padding: 0;
    border-radius: 6px;
    border: none;
}

#address_line_frame QLineEdit {
    background: transparent;
    color: #eef1f1;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

#address_line_frame QLineEdit:focus {
    border: 2px solid #aa2f2f;
}

#address_line_frame QProgressBar {
    color: transparent;
    background: transparent;
}

#address_line_frame QProgressBar::chunk {
    background: rgba(170, 47, 47, 60);
    color: transparent;
    border-top-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0px;
}

#address_line_frame QPushButton {
    border: none;
    background: transparent;
    border-radius: 0;
}

#address_line_frame #bookmark_button {
    border-top-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0px;
}

#add_tab_button_panel {
    icon: url(icons:plus.svg);
}

#back_button {
    icon: url(icons:arrow_left.svg);
}

#forward_button {
    icon: url(icons:arrow_right.svg);
}

#stop_load_button {
    icon: url(icons:close.svg);
}

#update_button {
    icon: url(icons:update.svg);
}

#home_button {
    icon: url(icons:home.svg);
}

#menu_button {
    icon: url(icons:menu.svg);
}

QTabWidget {
    border: 0px;
    padding: 0px;
}

QTabWidget::tab-bar {
    left: 5px;
    right: 35px;
}

QTabWidget::left-corner {
    height: 30px;
    width: 30px;
    bottom: 14px;
    left: 9px;
}

QTabBar::tab {
    margin: 4px;
    margin-top: 6px;
    margin-bottom: 5px;
    border-radius: 6px;
    width: 170px;
    padding: 5px;
}

QTabBar::tab:text {
    padding-left: 5px;
}

QTabWidget::pane {}

QTabBar {
    qproperty-drawBase: 0;
}

QTabBar::tab:selected {
    background: #515375;
    color: #eef1f1;
}

QTabBar::tab:!selected:hover {
    background: #363a4f;
}

QTabBar::tab:!selected {
    background: transparent;
    color: #eef1f1;
}

QTabBar QToolButton::right-arrow {
    image: url(icons:arrow_right.svg);
}

QTabBar QToolButton::left-arrow {
    image: url(icons:arrow_left.svg);
}

QTabBar::close-button {
    image: url(icons:close.svg);
    background: #3d3f59;
    border-radius: 6px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
}

QTabBar::tear {
    image: none;
}

#add_tab_button {
    icon: url(icons:plus.svg);
    background: transparent;
    border: 0;
}

#add_tab_button:hover {
    background: #363a4f;
}

#add_tab_button:pressed {
    border: 2px solid #aa2f2f;
}

QProgressBar {
    border: 0;
}

QProgressBar::chunk {
    background: #aa2f2f;
}

QCheckBox::indicator {
    background: #1d1f2a;
    border-radius: 6px;
}

QCheckBox::indicator:checked {
    background: #aa2f2f;
}

QTreeView::item:hover {
    background: #404364;
    color: #eef1f1;
}

QTreeView::item:selected {
    outline: 0px;
    background: #515375;
    color: #eef1f1;
}

QHeaderView::section {
    background-color: #1d1f2a;
    color: #eef1f1;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 2px solid #363a4f;
    show-decoration-selected: 0;
}

QHeaderView::section:horizontal:first {
    border-left: 0;
}

QHeaderView::section:horizontal:last {
    border-right: 0;
}

QHeaderView::section:horizontal {
    border-right: 2px solid #363a4f;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(icons:arrow_right.svg);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(icons:arrow_down.svg);
}

QTreeWidget QProgressBar {
    border: 2px solid #1d1f2a;
    border-radius: 6px;
    text-align: center;
    margin: 5px;
}

QTreeWidget QProgressBar::chunk {
    border-radius: 3px;
}

QTreeWidget #downloads_item_folder {
    icon: url(icons:folder.svg);
}

QTreeWidget #downloads_item_remove {
    icon: url(icons:close.svg);
}

QScrollBar:horizontal {
        background: #1d1f2a;
        max-height: 11px;
        border-radius: 4px;
        margin-top: 3px;
}

QScrollBar::handle:horizontal {
        background-color: #aa2f2f;
        min-width: 5px;
        border-radius: 4px;
}

QScrollBar::add-line:horizontal {
        border-image: url(:/qss_icons/rc/right_arrow_disabled.png);
}

QScrollBar::sub-line:horizontal {
        border-image: url(:/qss_icons/rc/left_arrow_disabled.png);
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on {
        border-image: url(:/qss_icons/rc/right_arrow.png);
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
        border-image: url(:/qss_icons/rc/left_arrow.png);
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
        background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
        background: none;
}

QScrollBar:vertical {
        background: #1d1f2a;
        max-width: 11px;
        border-radius: 4px;
        margin-left: 3px;
}

QScrollBar::handle:vertical {
        background-color: #aa2f2f;
        min-height: 5px;
        border-radius: 4px;
}

QScrollBar::sub-line:vertical {
        border-image: url(:/qss_icons/rc/up_arrow_disabled.png);
}

QScrollBar::add-line:vertical {
        border-image: url(:/qss_icons/rc/down_arrow_disabled.png);
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on {
        border-image: none;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
        border-image: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
        background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
        background: none;
}

#popup_link {
    background: #282a3a;
    color: #eef1f1;
    padding-left: 2px;
    padding-right: 2px;
    border-top-right-radius: 6px;
}

#find_widget_back {
    icon: url(icons:arrow_left.svg)
}

#find_widget_forward {
    icon: url(icons:arrow_right.svg)
}

#find_widget_close {
    icon: url(icons:close.svg)
}

#find_widget #find_widget_close:hover {
    background: #aa2f2f;
}

#sections_panel {
    background: #1d1f2a;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    min-width: 50px;
    max-width: 50px;
    outline: 0;
}

#sections_panel::item {
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QListWidget {
    show-decoration-selected: 0;
}

QListWidget::item {
    padding-left: 10px;
    border: 0;
    border-radius: 6px;
}

QListWidget::item:hover {
    background: #363a4f;
    show-decoration-selected: 0;
}

QListWidget::item:selected {
    background: #515375;
    show-decoration-selected: 0;
}

#container_content {
    background: #363a4f;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#container_content QWidget {
    background: transparent;
    font: 12pt "Clear Sans Medium";
    color: #eef1f1;
}

#container_content QLineEdit {
    border: 2px solid #515375;
    selection-background-color: #aa2f2f;
    background: #1d1f2a;
    color: #eef1f1;
}

#container_content QLineEdit:focus {
    border: 2px solid #aa2f2f;
}

#container_content QPushButton {
    background: #3e4259;
    color: #eef1f1;
    border: 2px solid #515375;
}

#container_content QPushButton:hover {
    background: #363a4f;
}

#container_content QPushButton:pressed {
    background: #515375;
    border: 2px solid #aa2f2f;
}

#container_content QComboBox {
    background: #515375;
    color: #eef1f1;
}

#container_content QComboBox QAbstractItemView {
    background: #1d1f2a;
}

#container_title {
    background: #1d1f2a;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: 0px;
}

#container_title_text {
    padding-top: 2px;
    padding-bottom: 2px;
    background: none;
    font: 16pt 'Clear Sans Medium';
    color: #eef1f1;
}

#container_title QPushButton {
    border: 0px;
    border-radius: 6px;
    background: #363a4f;
    color: #eef1f1;
    font-size: 14px;
    padding: 2px;
}

#container_title QPushButton:hover {
    background: #515375;
}

#container_title QPushButton:pressed {
    background: #1d1f2a;
    border: 2px solid #aa2f2f;
}

#user_dir_button {
    icon: url(icons:folder.svg);
}

#restart_button {
    icon: url(icons:restart.svg);
}

#remove_all_button {
    icon: url(icons:clear_list.svg)
}